.button-start {
	display: block;
	height: 40px;
	width: 160px;
	margin-top: 20px;
	margin-bottom: 120px;
	margin-right: auto;
	margin-left: auto;
	background-color: blue;
	color: white;
	font-size: 20px;
}

h2 {
	font-size: 18px;
	text-align: center;
	color: black;
}