* {
	font-family: arial;
}

body {
	background-color: black;
}

h1, h2 {
	color: yellow;
	font-weight: bold;
	text-align: center;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 22px;
}

h3 {						/* for temp section labels */
	display: inline;
	font-size: 14px;
	color: grey;
	font-weight: bold;
	text-align: left;
}

p {
	color: white;
	font-size: 18px;
	text-align: center;
	line-height: 40%;
}

section {
	margin-bottom: 60px;
}

.preBtnContainer {
	display: block;
	width: 134px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.playBtnContainer {
	display: block;
	width: 348px;
	margin-left: auto;
	margin-right: auto;
}

.postBtnContainer {
	display: block;
	width: 268px;
	margin-left: auto;
	margin-right: auto;
}

.ppBtn{
	display: inline-block;
	margin: 5px;
	padding: 0;
	border-width: 2px;
	height: 30px;
	width: 120px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.playBtn{
	display: inline-block;
	margin: 5px;
	padding: 0;
	border-width: 2px;
	height: 120px;
	width: 160px;
}

.btn-green{
	background-color: green;
}

.btn-green:active{
	background-color: light green;
}

.btn-red{
	background-color: red;
}

.btn-red:active{
	background-color: light red;
}

.btn-blue{
	background-color: blue;
}

.btn-blue:active{
	background-color: light blue;
}

.btn-yellow{
	background-color: yellow;
}

.btn-yellow:active{
	background-color: light yellow;
}
