* {
	font-family: arial;
}

body {
	background-color: black;
}

h1, h2 {
	color: yellow;
	font-weight: bold;
	text-align: center;
}

h1 {
	font-size: 48px;
	line-height: 100%;
}

h2 {
	font-size: 22px;
}

p {
	color: white;
	font-size: 28px;
	text-align: center;
	line-height: 40%;
}

section {
	margin-bottom: 80px;
}

.preBtnContainer {
	display: block;
	width: 134px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.playBtnContainer {
	display: block;
	position: relative;
	width: 432px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
}

.postBtnContainer {
	display: block;
	width: 268px;
	margin-left: auto;
	margin-right: auto;
}

.ppBtn{
	display: inline-block;
	margin: 5px;
	padding: 0;
	border-width: 0px;
	height: 30px;
	width: 120px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.playBtn{
	display: inline-block;
	position: relative;
	margin: 8px;
	padding: 0;
	border-width: 0px;
	height: 200px;
	width: 200px;
	font-size: 0;
	outline: none;
}

.btn-green{
	background-color: green;
	border-radius: 100% 0 0 0;
}

.btn-green:hover{
	background-color: #025002;
}

.btn-green:active{
	background-color: #70f904;
}

.btn-red{
	background-color: red;
	border-radius: 0 100% 0 0;2be4e2
}

.btn-red:hover{
	background-color: #980000;
}

.btn-red:active{
	background-color: #ffaaaa;
}

.btn-blue{
	background-color: blue;
	border-radius: 0 0 100% 0;
}

.btn-blue:hover{
	background-color: #020292;
}

.btn-blue:active{
	background-color: #2be4e2;
}

.btn-yellow{
	background-color: yellow;
	border-radius: 0 0 0 100%;
}

.btn-yellow:hover{
	background-color: #6f6f00;
}

.btn-yellow:active{
	background-color: #ffffbf;
}

#btnSt{
	position: relative;
	border-radius: 5px;
	z-index: 2;
}

#btnPA, #btnQ{
	visibility: hidden;
	border-radius: 5px;
}

#btnCtr{
	height: 140px;
	width: 140px;
	left: 146px;
	top: 146px;
	z-index: 0;
	border-radius: 100%;
	background-color: black;
	position: absolute;
	font-size: 0;
}

#landing-Overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	padding-top: 160px;